@model IEnumerable<Badges>

  

<div class="row justify-content-center text-center bg-secondary badges-section">
      <div class="text-center" style="padding-top: 6rem;">
        <h1>My Badges</h1>
        <p>Check out the badges I've earned.</p>
    </div>

        @foreach (var item in Model)
        {
            <div class="card card-badge" style="width: 18rem;">
                <img class="card-img-top" src="@item.Img" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-secondary">@item.Badge</h5>
                    <p class="card-text">@item.Issuer</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        }
</div>




