 <div class="text-center">
    <h1 class="display-4">I'm Bryan Montero</h1>
    <h2>Soy desarrollador de software especializado en tecnologias .NET y JavaScript</h2>
    <img id="photo" src="~/img/photo.jpg" alt="Bryan's photo" />
</div>

<div class="text-center badge-holder">
    <img src="https://skillicons.dev/icons?i=js,html,git,css,dotnet,azure,bootstrap" alt="badges">
</div>

<div class="row justify-content-center text-center bg-secondary">
    <div class="col col-md-7 welcome-section">
        <h1>Te doy la bienvenida a mi portfolio</h1>
        <p>IT professional, process automation enthusiast with experience leading digital transformation initiatives,
            web and desktop application development, database administration, project management, general knowledge of
            physical and virtual infrastructure management and high orientation to results and continuous processes
            improvement.</p>
    </div>
</div>