@model IEnumerable<Project>
  <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var item in Model)
                {
                    <div class="col card-info">
                        <div class="card h-100">
                            <img src=@item.ImgUrl class="card-img-top pj-img" alt="img proyecto">
                            <div class="card-body">
                             <h5 class="card-title">@item.Title</h5>   
                             <p>@item.Description</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary" href=@item.Link target="_blank" rel="noopener noreferrer">Visit</a>
                            </div>
                        </div>
                    </div>
                }
            </>
        </div>