<div style="margin-top: -105px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white skills" style="border-radius: 15px 0 0 15px; box-shadow:0 5px 5px 0 gray">
            <i class="bi bi-hdd-rack"></i>
            <h3>Back end</h3>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum."</p>
            <p class="text-primary cabecera">
                Stack
            </p>
            <p>ASP.NET Core, SQL Server</p>
            <p class="text-primary cabecera">Experiencia</p>
            <ul>
                <li>Web API</li>
                <li>ASP.NET CORE MVC</li>
                <li>Entity Framework</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries</li>
                <li>Principios SOLID</li>
            </ul>
        </div>
        <div class="col col-3 bg-white skills" style="border-radius: 0px 15px 15px 0; box-shadow:0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front end</h3>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum."</p>
            <p class="text-primary cabecera">
                Stack
            </p>
            <p>React</p>
            <p class="text-primary cabecera">Experiencia</p>
            <ul>
                <li>jQuery</li>
                <li>HTML</li>
                <li>Entity Framework</li>
            </ul>
        </div>
    </div>
</div>