@model PortfolioViewModel


@{
    ViewData["Title"] = "Home Page";
}



<partial name="_Presentation"/>
<partial name="_Skills" model=Model.Skills/>
   <div class="text-center" style="padding-top: 6rem;">
    <h1>Latest projects</h1>
    <p>Take a look on the projects I've been working on recently!</p>
<partial name="_Projects" model=Model.Projects/>
</div>

<partial name="_Badges" model=Model.Badges/>







