@model IEnumerable<Project>
@{
    ViewData["Title"]="Projects";
}

    <div class="text-center" style="padding-top: 6rem;">
    <h1>All my projects </h1>
    <p>Take a look at all the projects I've worked on!</p>
</div>
   <partial name="_Projects" model=Model/>
