
@{
    ViewData["Title"] = "Thanks";
}

<h1>
    Thanks for contacting me!
</h1>
<p>I will be in contact with you shortly. </p>
<div>
    <a asp-action="Index" asp-controller="Home">Back to home</a>
    </div>

